$b: "form";
.#{$b} {
    border: 2px solid #858585;
    border-radius: 10px;

    &__container {
        padding: 20px;
    }
    &__field {
        display: flex;
        &-name {
            width: 35%;
        }
        &-input {
            width: 65%;
            &_resize_y {
                resize: vertical;
            }
        }
    }
    &__bottom {
        display: flex;
        margin-top: 30px;

        &-center {
            margin: 0 auto;
        }
    }
    &__submit-btn {
        width: 130px;
        background-color: #C2C2C2;
        border-radius: 15px;
        border: 2px solid #080808;
        padding: 7px 15px 8px;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            opacity: 0.75;
        }
    }
}

.#{$b} {
    &__field + &__field {
        margin-top: 13px;
    }
}